[Unit]
Description=Caddy Web Server
After=network-online.target

[Container]
Image=ghcr.io/serfriz/caddy-duckdns:latest

ContainerName=caddy
AutoUpdate=registry
Network=host
Environment=CADDY_INGRESS_NETWORKS=podman

# Carica i segreti (dove c'è il TOKEN)
EnvironmentFile=%h/homeassistant/secrets.env

# Volumi
Volume=%h/homeassistant/Caddyfile:/etc/caddy/Caddyfile:Z
Volume=%h/homeassistant/caddy/data:/data:Z
Volume=%h/homeassistant/caddy/config:/config:Z

[Install]
WantedBy=default.target