[Unit]
Description=DuckDNS Updater
After=network-online.target

[Container]
Image=docker.io/linuxserver/duckdns:latest
ContainerName=duckdns-updater
AutoUpdate=registry
Network=host

# Carica le variabili (TOKEN e SUBDOMAINS devono essere nel file)
EnvironmentFile=%h/homeassistant/secrets.env
Environment=LOG_FILE=false

[Install]
WantedBy=default.target