[Unit]
Description=Home Assistant (Rootful System Container)
After=network-online.target bluetooth.service
Wants=bluetooth.service

[Container]
Image=ghcr.io/home-assistant/home-assistant:stable
ContainerName=homeassistant
AutoUpdate=registry

# Disabilita l'isolamento SELinux per comunicare con l'hardware host
SecurityLabelDisable=true

# --- NUOVI PERMESSI BLUETOOTH ATTIVO ---
# Richiesti da HA per inviare comandi (es. lampadine SmartLife/Tuya)
AddCapability=NET_ADMIN
AddCapability=NET_RAW

# Percorsi ASSOLUTI ai file dell'utente core
EnvironmentFile=/var/home/core/homeassistant/secrets.env
Network=host

# Volumi
Volume=/var/home/core/homeassistant/config:/config:Z
Volume=/run/dbus:/run/dbus:ro
Volume=/etc/machine-id:/etc/machine-id:ro

[Install]
# I servizi di sistema usano multi-user.target (non default.target)
WantedBy=multi-user.target